@import "../../../../variables.scss";

.full-width-table {
  width: 100%;
}

.table-container {
  overflow: auto;
  margin: 40px 0 20px;
}

.win {
  background-color: $accent;
  color: #fff;
}

.cell {
  padding: 5px;
  text-align: center;
}

.table-title {
  padding-left: 20px;
  font-size: 20px;
}

.btn-wrapper {
  margin: 20px 0;
}
