.full-width-table {
  width: 100%;
}

.table-container {
  overflow: auto;
  margin: 40px 0;
}

.win {
  background-color: green;
  color: white;
}

.cell {
  padding: 5px;
}

.table-title {
  padding-left: 20px;
  font-size: 20px;
}
