<div class="table-container mat-elevation-z8" *ngIf="games$ | async as games">
  <p class="table-title">Played matches</p>
  <table class="full-width-table">
    <tr>
      <th>David</th>
      <th>Lyuba</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let game of games">
      <td class="cell" [class.win]="game.david ? 1 : 0">
        {{ game.david ? "Win" : "Lose" }}
      </td>
      <td class="cell" [class.win]="game.lyuba ? 1 : 0">
        {{ game.lyuba ? "Win" : "Lose" }}
      </td>
      <td class="cell">{{ game.date }}</td>
    </tr>
  </table>
</div>
