@import "../../../../variables.scss";

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  margin: 10px;
  background-color: $secondary;
  margin-bottom: 40px;
}

.image {
  height: 300px;
  object-fit: cover;
}

.expansions-toggle {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-title {
  color: $primary;
}
