<div class="dialog-header">
  <h1 mat-dialog-title>And the winner is...</h1>
  <mat-icon
    class="icon"
    aria-hidden="false"
    color="primary"
    aria-label="Close icon"
    (click)="onCancel()"
    >close</mat-icon
  >
</div>
<form [formGroup]="matchForm" (ngSubmit)="addMatch()">
  <div mat-dialog-content>
    <mat-radio-group formControlName="winner" aria-label="Select an option">
      <mat-radio-button class="radio" value="david">David</mat-radio-button>
      <mat-radio-button class="radio" value="lyuba">Lyuba</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="date"
        placeholder="Choose a date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      ripple
      color="accent"
      class="btn"
      type="submit"
      [disabled]="!matchForm.valid"
      [mat-dialog-close]
    >
      Add
    </button>
  </div>
</form>
