.poster {
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 40px;
}

.table-container {
  max-height: 400px;
  overflow: auto;
  margin: 40px 0;
}

table {
  width: 100%;
}

.win {
  background-color: green;
  color: white;
}

.cell {
  padding: 5px;
}
