<div *ngIf="game; else noData">
  <mat-icon
    class="back-btn"
    aria-hidden="false"
    aria-label="Back icon"
    (click)="goBack()"
    >arrow_back</mat-icon
  >
  <img class="poster" [src]="game.image" alt="game.name" />
  <h1 class="title">{{ game.name }}</h1>
  <p>Rating on BGG: {{ game.averageRating }}</p>
  <p>Published at: {{ game.yearPublished }}</p>
  <p *ngIf="game.isExpansion">Expansion</p>
  <!-- TODO:hide if no data -->
  <app-games-table [gameId]="game.gameId"></app-games-table>
  <div class="btn-wrapper">
    <button
      mat-raised-button
      ripple
      color="primary"
      class="btn"
      (click)="openDialog()"
    >
      Add new team
    </button>
  </div>
</div>

<ng-template #noData>
  <div class="spinner-wrapper">
    <mat-spinner [diameter]="40" class="main-spinner"></mat-spinner>
  </div>
</ng-template>
